<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table  class="table table-bordered">
  <thead>
    <tr>
      <th>Pessoa</th>
      <th>Tipo</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.cliente_nome %></td>
        <td><%= cliente.pessoa.tipo rescue 'Não Informado' %></td>
        <td><%= cliente.usuario_nome %></td>
        <td><%= link_to 'Exibir', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Clientes'), new_cliente_path%>
