<p id="notice"><%= notice %></p>

<p>
  <strong>Pessoa:</strong>
  <%= @cliente.cliente_nome	 %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cliente.tipo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @cliente.usuario_nome %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
