<p id="notice"><%= notice %></p>

<p>
  <strong>Mesa:</strong>
  <%= @pedido.mesa %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @pedido.desconto %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pedido.usuario %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', mesas_path %> 
