<%= form_for(@funcionario) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :pessoa_id %>
    <%= f.text_field :pessoa_id,  class: "form-control" %>
  </div>
  <div class="field form-group">
     <%= f.label :data_admissao %><br>
    <%= f.datetime_select :data_admissao, :start_year => 1980,  class: "form-control" %>
  </div>
  <!--<div class="field form-group">
    <%= f.label :data_demissao %><br>
    <%= f.datetime_select :data_demissao %>
  </div>
    Criar um botão de demisão e fazer com que esse campo receba a data em que foi realizado o clipe
-->
  <div class="field form-group">
     <%= f.label :salario_base %>
    <%= f.text_field :salario_base, class: "form-control" %>
  </div>
  <div class="field form-group">
     <%= f.label :funcao_nome %>
    <%= f.text_field :funcao_nome,  class: "form-control" %>
  </div>
  <div class="field form-group">
     <%= f.label :usuario_id %>
    <%= f.text_field :usuario_id,  class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
